.container {
  margin: 0;
  padding: 0;
  font-family: "trebuchet ms", Verdana, "verdana ref", "segoe ui", Candara,
    "lucida grande", "lucida sans unicode", "lucida sans", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  background: #fff;
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
  font-family: "Unica One", sans-serif;
}

.container a {
  color: #d33;
  text-decoration: none;
  font-weight: 600;
}

.container a:hover {
  text-decoration: underline;
}

#hr-line {
  border: none;
  border-top: 3px dashed #bbb;
  margin: 40px 0;
}

ul {
  padding-left: 20px;
}
.container {
  flex: 1;
}

.slide-up {
  animation: SlideUp cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
}
.slide-down {
  animation: SlideDown cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

@keyframes SlideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.8;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes SlideUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
