* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #F2F2F2;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loading-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #666;
}
